@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

/*@font-face {*/
/*    font-family: 'Montserrat'; */
/*    src: url("//db.onlinewebfonts.com/t/7da3ec4781fb051250426509c19145c2.eot"); */
/*    src: url("//db.onlinewebfonts.com/t/7da3ec4781fb051250426509c19145c2.eot?#iefix") format("embedded-opentype"), */
/*    url("//db.onlinewebfonts.com/t/7da3ec4781fb051250426509c19145c2.woff2") format("woff2"), */
/*    url("//db.onlinewebfonts.com/t/7da3ec4781fb051250426509c19145c2.woff") format("woff"), */
/*    url("//db.onlinewebfonts.com/t/7da3ec4781fb051250426509c19145c2.ttf") format("truetype"), */
/*    url("//db.onlinewebfonts.com/t/7da3ec4781fb051250426509c19145c2.svg#Noe Text Semibold") format("svg"); */
/*    font-weight: 900;*/
    
/*}*/

@font-face {
    font-family: 'Montserrat'; 
    src: url("../fonts/7da3ec4781fb051250426509c19145c2.eot"); 
    src: url("../fonts/7da3ec4781fb051250426509c19145c2.eot?#iefix") format("embedded-opentype"), 
    url("../fonts/7da3ec4781fb051250426509c19145c2.woff2") format("woff2"), 
    url("../fonts/7da3ec4781fb051250426509c19145c2.woff") format("woff"), 
    url("../fonts/7da3ec4781fb051250426509c19145c2.ttf") format("truetype"), 
    url("../fonts/7da3ec4781fb051250426509c19145c2.svg#Noe Text Semibold") format("svg"); 
    font-weight: 900;
    
}

body {
    font-family:'Montserrat', sans-serif;
    background-color: #ffffff;
}
.home-banner-bg-color {
    background-color: #e7e7e7;
    padding: 50px !important;
    margin: 0;
}
.home-banner-bg-color p {
    color: #ffffff;
}
body.max-width #site{
    box-shadow: none;
}
.btn, button.btn{
    font-weight: 500;
}
.custom .listing.listing_window-mosaic .item .inner .info {
    max-width: 900px;
}

.custom section.content {
    padding: 20px 0;
}
.button-center .component-introduction {
    max-width: 1350px;
    margin-left: auto;
    margin-right: auto;
}
.button-center .component-introduction .link{
    text-align: center;
}
.line-bg {
    position: relative;
    width: 100%;
}

    .line-bg:before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate3d(0,-50%,0);
        height: 2px;
        background: #525C68;
        width: 100%;
        z-index: 1;
        text-align: center;
    }

.text-v {
    position: relative;
    z-index: 10;
    background: #e7e7e7;
    display: inline-block;
    vertical-align: top;
    padding: 0 15px;
}

.text-v-white {
    position: relative;
    z-index: 10;
    background: #ffffff;
    display: inline-block;
    vertical-align: top;
    padding: 0 15px;
}

.cover-text-btm {
    font-size: 32px;
}

.cover-text-top {
    font-size: 22px;
    font-family: monospace;
    color: #E4E4E4;
}

.prayer-room #site-content {
    display: grid;
    grid-template-columns: 8fr 4fr;
}

    .prayer-room #site-content > .banner-component {
        grid-row: 1;
        grid-column: 1/13;
    }

.pray-for #site-content {
    display: grid;
    grid-auto-rows: auto;
}

    .pray-for #site-content > section {
        grid-column: 1/12;
    }

        .pray-for #site-content > section:first-child {
            /*grid-row: 1;*/
        }

        .pray-for #site-content > section:nth-child(2) {
            grid-row: 2;
            grid-column: 1/8;
            padding-left: 118px;
        }

        .pray-for #site-content > section:nth-child(3) {
            grid-row: 2;
            grid-column: 8/12
        }

.prayer-room .listing_links i, .pray-for .listing_links i {
    display: none;
}

.prayer-room a, .base-link {
    color: #808080;
}

.pray-for a, .base-link {
    color: #808080;
}

.custom h2:not(.heading) {
    color: #525C68;
}

.prayer-room h2:not(.heading) {
    color: #ee5d5d;
}

.custom hr {
    border-top: 3px solid #21252957;
}

.please-pray .listing.listing_window-mosaic {
    position: relative;
    margin: 59px 0px;
}

.please-pray span {
    text-align: inherit;
}

.please-pray .container-fluid:last-child .listing.listing_window-mosaic {
    margin-bottom: 70px;
}

.please-pray .base-heading {
    color: #393F47;
}

@media (max-width: 991px) and (min-width: 768px) {
    .please-pray span {
        font-size: 1.4rem;
    }
}


@media (min-width: 992px) {
    .please-pray .listing.listing_window-mosaic.basic-windows .item::before, .listing.listing_window-mosaic.basic-windows .item .inner {
        padding-top: 50vh;
    }
    .please-pray span[class*="btn"] {
        font-size: 1.2em; /*   last change*/
    }

    .please-pray section.content {
        padding: 163px 163px;
    }
}

@media (max-width: 375px) {
    .please-pray span, .please-pray p, .please-pray .listing.listing_window-mosaic .heading.main {
        font-size: 0.85em;
    }
}

.home.banner-top div:not(.left-col):not(.right-col):not(.center-col) > .component.banner-component:first-of-type .intro {
    font-size: 1rem;
}

@media (min-width: 1200px) {
    .home.banner-top div:not(.left-col):not(.right-col):not(.center-col) > .component.banner-component:first-of-type .intro {
        font-size: 1.2rem;
    }
    
    
}
@media (max-width: 992px) {
    .home .cover-text-btm {
    font-size: 27px;
}
}
@media (max-width: 1360px) {
    .home .cover-text-btm {
    font-size: 25px;
}
}
@media (max-width: 570px) {
    .home .cover-text-btm {
    font-size: 22px;
}
 .home .cover-text-top {
     font-size: 16px;
 }
}
@media (max-width: 415px) {
    .home .banner-component .item .info {
        position: relative;
        height: 100%;
        padding: 0;
        z-index: 2;
    }

    .home.banner-top div:not(.left-col):not(.right-col):not(.center-col) > .component.banner-component:first-of-type .intro {
        font-size: 0.75rem;
    }

    .please-pray .item.item_text-boxed .info.info_align-middle {
        top: 52%;
    }

    .home .cover-text-btm {
        font-size: 18px;
    }

    .home .intro-header {
        font-size: 0.9em;
    }
}

@media (max-width: 361px) {
    .home.banner-top div:not(.left-col):not(.right-col):not(.center-col) > .component.banner-component:first-of-type .intro {
        font-size: 0.6rem;
    }

    .please-pray .item.item_text-boxed .info.info_align-middle {
        top: 57%;
    }

    .listing.listing_window-mosaic .item {
        height: 50vh;
    }

    .home .cover-text-btm {
        font-size: 16px;
    }

    .home .intro-header {
        font-size: 0.7em;
    }
}

.custom .btn, button.btn {
    border-radius: 4px;
}

.home-header .btn {
    margin-right: 14%;
    margin-left: 14%;
}
.intro {
    color: #525C68;
}

.intro-header {
    color: #CDCDCC;
    font-size: 1.2em;
}

@media (min-width: 1200px) {
    .prayer-events .container .listing.listing_window-mosaic.windows-3.big-window-first .item .heading.main {
        font-size: 3.2em;
    }

    .prayer-events .container .listing.listing_window-mosaic .heading.main {
        font-size: 3.2em;
    }

    .prayer-events p {
        font-size: 1.2em;
    }
}

.pray-for h2[class*="link-header"] {
    color: #ee5d5d;
}

.pray-for .component .heading.main {
    color: #525C68;
}

.pray-for h3:not(.heading) {
    color: #525C68
}

.pray-for .banner-component .item .info {
    position: relative;
    height: 100%;
    padding: 50px 15px;
    z-index: 2;
}

.subscribe .col-xl-8 {
    flex: unset;
    max-width: 100%;
}

.subscribe h3:not(.heading) {
    color: #525C68;
}

.error .line-bg:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate3d(0,-50%,0);
    height: 2px;
    background: #ee5d5d;
    width: 100%;
    z-index: 1;
    text-align: center;
}

.error h3:not(.heading) {
    color: #ee5d5d;
}

.home-banner {
    margin: 50px;
}
.home-banner p {
    color: #ffffff;
}
.home-banner span {
    color: #E4E4E4;
}
.icon.usn_ion-ios-search:before{
    display: inline-block;
    transform: rotateY(180deg);
}
.dataconsent.mandatory.alternating .req {
    display: none;
}

.dataconsent.mandatory .req {
    display: none;
}
/*.checkbox.dataconsent > label:after{*/
/*    content: "*";*/
/*    color: red;*/
/*    display: inline-block;*/
/*    vertical-align: top;*/
/*    margin-left: 5px;*/
/*}*/
@media (min-width: 992px){
    nav.main:after {
        display: none;
    }
    header#site-header #logo::after{
    display: none;
    }
    header#site-header .site-search a.expand-search::after{
        display: none;
    }
    nav.main>ul>li{
        border: none;
    }
    nav.main>ul>li>span>a, nav.main>ul>li{
        height: 40px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin: 0 8px;
    }
    nav.main>ul>li>span>a{
    padding: 0px 10px;
    }
    nav.main>ul>li>span::before{
    height: 2px !important;
    }
    nav.main {
    top: 67px;
    padding-left: 30px;
    }
    header#site-header nav.cta-links{
        top: 10px;
        right: 15px;
    }
    header#site-header nav.cta-links .btn{
        padding: 0px 20px;
        height: 48px;
         display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        letter-spacing: 1px;
        line-height: 26px;
        font-weight: 500;
        border: 1px solid #ffffff !important;
        box-shadow: 3px 3px 10px rgba(0,0,0,0.2) !important;
    }
    header#site-header #logo{
        padding-top: 40px;
    }
    html.nav-up body:not(.browser-safari) header#site-header #logo a {
    margin-top: 8px;
    }
    html.nav-down:not(.reached-top) .usn_back-to-top, html.nav-up .usn_back-to-top {
    bottom: 10px;
    right: 10px;
    }
}


@media screen and (min-width: 1600px){
     #site-header:before{
        content: "";
        display: block;
        position: absolute;
        left: calc(((100vw - 1600px) / 2) * -1);
        bottom: 0px;
        width: 100vw;
        height: 1px;
        z-index: 1;
        background: #e7e7e7;
    }
}



/*media start*/
@media screen and (max-width: 1150px){
    .pray-for #site-content, .prayer-room #site-content{
        display: block;
    }
    .pray-for #site-content > section:nth-child(2){
        padding-left: 0;
    }
}
/*media END*/

.prayer-room .component .heading.main, .prayer-room h3:not(.heading)  {
    color: #525C68;
}

.contact-us label em.req {
    color: #000000;
}

.prayer-request p {
    font-size: 0.9rem;
}

