body { 
	font-size: 14px;
	line-height:1.3;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color:#444444;
} 
table {
	width:100%;
}
table td {
	padding:5px;
}

/**umb_name:Heading 1 (h1)*/
h1 {
	font-size:35px;
}

/**umb_name:Heading 2 (h2)*/
h2 {
	font-size:30px;
}

/**umb_name:Heading 3 (h3)*/
h3 {
	font-size:22px;
}

/**umb_name:Heading 4 (h4)*/
h4 {
	font-size:18px;
}

/**umb_name:Heading 5 (h5)*/
h5 {
	font-size:16px;
}

/**umb_name:Heading 6 (h6)*/
h6 {
	font-size:16px;
}

/**umb_name:Heading (p)*/
.heading {
	font-weight:bold;
}

/**umb_name:Secondary Heading*/
.secondary-heading {
	font-size:18px;
}

/**umb_name:Introduction paragraph*/
.intro {
	font-size:20px;
}

/**umb_name:Small text*/
.small {
	font-size:85%;
}

/**umb_name:Label*/
.label {
	background-color:#000;
	color:#fff;
	padding:1px 3px;
	display:inline-block;
	border-radius:3px;
}
.listing.listing_window-mosaic .item .inner .info{
    max-width: 800px;
}